.advantages {
  padding-top: 45px;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__wrapper {
  background-color: $bg-color;

  position: relative;
  padding-top: 53px;
}

.advantages__list {
  background-color: $bg-color;
  list-style: none;

  margin: 0;
  padding: 0;
}

.advantages__item {
  padding: 0 20px;
  padding-bottom: 45px;
}

// .advantages__item-img {
//   font: inherit;
// }

.advantages__descr {
  text-align: center;

  margin: 0;
  margin-top: 20px;
}

.advantages__img-wrapper {
  background-color: $bg-color;
  height: 278px;
  overflow: hidden;
}

.advantages__img {
  display: block;
  margin: 0 auto;
}
