.all-photos {
  padding: 0 20px;
}

.all-photos__item {
  padding-top: 20px;
}

// .all-photos__photo {
//   font: inherit;
// }

.all-photos__img {
  display: block;
}

// .all-photos__comment {
//   font: inherit;
// }
