// .all-photos {
// }

.all-photos__wrapper {
  display: flex;
  flex-direction: column;
}

.all-photos__item {
  width: 280px;

  padding-top: 20px;
  margin: 0 auto;
}

.all-photos__photo {
  background-color: #555;
  width: 280px;
  height: 180px;

  overflow: hidden;
}

.all-photos__img {
  width: 300px;
  height: 400px;

  margin-top: -110px;
  margin-left: -10px;
}

.all-photos__img--1 {
  content: url("/img/photo-1-tablet.jpg");
}

.all-photos__img--2 {
  content: url("/img/photo-2-tablet.jpg");
}

.all-photos__img--3 {
  content: url("/img/photo-3-tablet.jpg");
}

.all-photos__img--4 {
  content: url("/img/photo-4-tablet.jpg");
}

.all-photos__img--5 {
  content: url("/img/photo-5-tablet.jpg");
}

.all-photos__img--6 {
  content: url("/img/photo-6-tablet.jpg");
}

// .all-photos__comment {
//   font: inherit;
// }

@media (min-width: $tablet-width) {
  .all-photos {
    padding-top: 30px;
  }

  .all-photos__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .all-photos__item {
    width: 300px;
  }

  .all-photos__photo {
    width: 300px;
    height: 300px;
  }

  .all-photos__img {
    margin-left: 0;
    margin-top: -50px;
  }
}



@media (min-width: $desktop-width) {
  .all-photos__wrapper {
    width: $desktop-width;
    margin: 0 auto;
  }

  .all-photos__item {
    margin-bottom: 30px;
  }

  .all-photos__img {
    margin-top: 0;
  }
}
