.comment {
  background-color: $bg-color;

  padding: 25px 18px;
}

// .comment__header {
//   font: inherit;
// }

.comment__name {
  font-size: 14px;
}

.comment__posting-time {
  font-size: 12px;
  font-weight: 300;
}

// .comment__content {
//   font: inherit;
// }

.comment__like {
  margin-top: 18px;

  display: flex;
  align-items: center;
}

.comment__like-count {
  display: block;
  padding-left: 32px;
  width: 100%;

  position: relative;
  cursor: pointer;

  font-size: 12px;
  color: $second-color;
}

.comment__like-btn {
  display: none;
 }

.comment__like-count::before {
  content: "";

  position: absolute;
  left: 1px;
  top: 6px;

  width: 13px;
  height: 12px;

  background-image: url('/img/icon-heart.svg');
}

@media (min-width: $tablet-width) {
  .comment {
    padding: 30px 25px;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .comment__like {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .comment__like-count {
    padding-left: 0;
    padding-right: 32px;
  }

  .comment__like-count::before {
    left: auto;
    right: 1px;
  }
}
