.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .copyright svg{
      fill: $main-color;
    }
  }

  &:active {
    .copyright svg{
      fill: $main-color-30;
    }
  }

}

.copyright__title {
  margin: 0;
}

.copyright svg{
  margin-left: 15px;
  fill: $second-color;
}
