.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .copyright__logo {
      fill: $main-color;
    }
  }

  &:active {
    .copyright__logo {
      fill: $main-color-30;
    }
  }

}

// .copyright__title {
//   font: inherit;
// }

.copyright__logo {
  margin-left: 15px;
  fill: $second-color;
}
