.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .copyright__logo svg{
      fill: $main-color;
    }
  }

  &:active {
    .copyright__logo svg{
      fill: $main-color-30;
    }
  }

}

.copyright__logo svg{
  margin-left: 15px;
  fill: $second-color;
}
