.editor__wrapper {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;

  padding-left: 20px;
  padding-right: 20px;
}

.editor__window {
  padding-top: 20px;
  padding-bottom: 20px;
}

.editor__img {
  width: 280px;
  height: 374px;

  display: block;
  margin: 0 auto;
}

.editor__tools {
  padding-top: 20px;
  padding-bottom: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.editor__crop svg,
.editor__color svg{
  width: 48px;
  height: 48px;
  fill: $main-color-30;
}

.editor__bright svg{
  width: 32px;
  height: 32px;
  fill: $main-color-30;
}

.editor__tool input:checked + svg {
  fill: $second-color;
}

.editor__tool:hover svg {
  fill: rgb(40, 54, 69, 0.5);
}

.editor__tool--radio {
  display: none;
}

.editor__size {
  border-bottom: 1px solid #dddfe0;

  margin: 0 -20px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.editor__slider {
  -webkit-appearance: none;
  cursor: pointer;

  width: 100%;
  height: 2px;
  outline: none;
  background-color: $main-color;

  &::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 14px;
  height: 14px;
  background-color: $bg-color;
  border: 2px solid $second-color;
  border-radius: 50%;
  }

  &::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-color: $bg-color;
    border: 2px solid $second-color;
    border-radius: 50%;
  }

  &:active::-webkit-slider-thumb {
    background-color: $second-color;
  }

  &:active::-moz-range-thumb {
    background-color: $second-color;
  }
}

.editor__slider--tablet {
  display: none;
}

.editor__buttons {
  padding: 38px 0;
}

.editor__button {
  width: 70%;
  min-width: 280px;

  display: block;
  margin: 0 auto;

  border: 3px solid $main-color-10;
  border-radius: 29px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  padding: 17px;

  &--post {
    margin-bottom: 12px;

    color: $second-color;
    border-color: $second-color;

    &:hover {
      background-color: $second-color;
      color: #fff;
    }

    &:active {
      background-color: $second-color;
      color: $main-color-30;
    }
  }

  &--cancel {
    color: #dddfe0;

    &:hover {
      background-color: inherit;
      border-color: $main-color-30;
      color: $main-color-30;
    }

    &:active {
      background-color: #b5b9be;
      border-color:#b5b9be;
      color: rgb(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .editor__wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 55px;
    padding-bottom: 55px;
  }

  .editor__window {
    padding: 0;
    margin: 0 auto;
  }

  .editor__img {
    width: 300px;
    height: 400px
  }

  .editor__form {
    padding-right: 25px;
    padding-left: 45px;
  }

  .editor__tools {
    flex-direction: column;
    padding: 0;
  }

  .editor__tool {
    width: 100%;
    min-height: 24px;

    padding-top: 15px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #dddfe0;
  }

  .editor__tool svg {
    width: 30px;
    height: 30px;
    fill: $second-color;
  }

  .editor__bright svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .editor__tool:hover svg {
    fill: $second-color;
  }

  .editor__size--mobile {
    display: none;
  }

  .editor__slider--tablet {
    display: block;
    flex-grow: 1;

    border: none;
    padding: 0;
    margin-left: 25px;
  }

  .editor__buttons {
    width: 100%;
    padding: 0;
    padding-top: 65px;
  }

  .editor__button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &--post {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .editor__wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 60px 80px;
  }

  .editor__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .editor__tool svg {
    width: 48px;
    height: 48px;
    fill: $second-color;
  }

  .editor__bright svg {
    width: 32px;
    height: 32px;
    fill: $second-color;
    margin-left: 8px;
    margin-right: 8px;
  }

  .editor__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .editor__button {
    min-width: 180px;

    &--post {
      margin-bottom: 0;
      margin-right: 45px;
    }
  }
}
