.editor {
  background-color: $bg-color;
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
}

.editor__window {
  padding-top: 20px;
  padding-bottom: 20px;
}

.editor__img {
  width: 280px;
  height: 374px;

  display: block;
  margin: 0 auto;
}

// .editor__form {
//   font: inherit;
// }

.editor__tools {
  padding-top: 20px;
  padding-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.editor__size {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 25px;
}

// .editor__crop {
//   font: inherit;
// }

// .editor__crop-label {
//   font: inherit;
// }

// .editor__color {
//   font: inherit;
// }

// .editor__color-label {
//   font: inherit;
// }

// .editor__bright {
//   font: inherit;
// }

// .editor__bright-label {
//   font: inherit;
// }

.editor__buttons {
  border-top: 1px solid #dddfe0;
  padding: 38px 0;
}

.editor__button {
  width: 70%;
  min-width: 280px;

  display: block;
  margin: 0 auto;

  border: 3px solid $main-color-10;
  border-radius: 29px;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  padding: 17px;

  &--post {
    margin-bottom: 12px;

    color: $second-color;
    border-color: $second-color;

    &:hover {
      background-color: $second-color;
      color: #fff;
    }

    &:active {
      background-color: $second-color;
      color: $main-color-30;
    }
  }

  &--cancel {
    color: #dddfe0;

    &:hover {
      border-color: $main-color-30;
      color: $main-color-30;
    }

    &:active {
      background-color: $main-color-30;
      color: rgb(255, 255, 255, 0.3);
    }
  }
}

.editor__container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .editor__wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding-top: 55px;
    padding-bottom: 55px;
  }

  .editor__window {
    padding: 0;
    margin: 0 auto;
  }

  .editor__form {
    margin: 0 auto;
  }
}



@media (min-width: $desktop-width) {
  .editor__wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 60px 80px;
  }

  .editor__img {
    background-color: #555;
    width: 300px;
    height: 400px;
  }
}
