.form-section {
  padding-top: 50px;
}

.form-section__subtitle {
  padding: 0 20px;
  margin: 0 auto;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $main-color;
}

.form-section__subtitle--hide {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-section {
    padding-top: 90px;
  }

  .form-section__subtitle {
    font-size: 18px;

    width: 500px;
  }

  .form-section__subtitle--hide {
    display: inline;
  }

  .form-section__form {
    padding-top: 70px;
  }

}

@media (min-width: $desktop-width) {
  .form-section__subtitle {
    width: 780px;
  }

  .form-section__form {
    padding-top: 80px;
  }
}
