.header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.header__wrapper {
  background-color: $main-color;
  box-shadow: 0 1px 0 #000;

  padding: 20px;
  margin-bottom: 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img{
  width: 75px;
  height: 22px;
}

.header__burger {
  background-color: inherit;

  padding: 0;
  border: 0;
  cursor: pointer;

  position: relative;

  width: 50px;
  height: 24px;
}

.header--closed .header__burger::before {
  content: "";

  width: 50px;
  height: 4px;

  background-color: #fff;

  position: absolute;
  top: 0;
  left: 0;

  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}
.header--closed .header__burger:hover::before {
  background-color: $second-color;
  box-shadow: 0 10px 0 0 $second-color, 0 20px 0 0 $second-color;
}

.header--closed .header__burger:active::before {
  background-color: $second-color-30;
  box-shadow: 0 10px 0 0 $second-color-30, 0 20px 0 0 $second-color-30;
}

.header--opened .header__burger::before,
.header--opened .header__burger::after {
content: "";

width: 30px;
height: 4px;

background-color: #fff;

position: absolute;
top: 10px;
left: 10px;
}

.header--opened .header__burger::before {
transform: rotate(45deg);
}

.header--opened .header__burger::after {
transform: rotate(-45deg);
}

.header--opened .header__burger:hover::before,
.header--opened .header__burger:hover::after {
background-color: $second-color;
}

.header--opened .header__burger:active::before,
.header--opened .header__burger:active::after {
background-color: $second-color-30;
}

.header--opened .header__navigation {
  display: block;
}

.header--closed .header__navigation {
  display: none;
}

.header--opened .header__wrapper {
  background-color: $main-color;
}

.header--closed .header__wrapper {
  background-color: rgb(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .header__logo img{
    width: 147px;
    height: 40px;
  }

  .header__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .header--opened .header__navigation,
  .header--closed .header__navigation {
    display: block;
  }

  .header--opened .header__wrapper,
  .header--closed .header__wrapper {
    background-color: inherit;
  }

  .header {
    background-color: rgb(0, 0, 0, 0.3);

    height: 110px;

    display: flex;
    align-items: center;
  }

  .header__container {
    width: 960px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__wrapper {
    background-color: none;
  }

  .header__burger {
    display: none;
  }
}
