// .logo {
//   font: inherit;
// }

.logo__bottom {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;

  &:hover {
    .logo__bottom--char {
      fill: $second-color;
    }
  }

  &:active {
    .logo__bottom--char {
      fill: $main-color-30;
    }

    .logo__bottom--glasses {
      fill: $second-color-30;
    }
  }
}

.logo__desktop {
  display: none;
}

.logo__tablet {
  display: none;
}

.logo__mobile {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo__bottom {
    margin-bottom: 10px;
  }

  .logo__desktop {
    display: none;
  }

  .logo__tablet {
    display: block;
  }

  .logo__mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__desktop {
    display: block;
  }

  .logo__tablet {
    display: none;
  }

  .logo__mobile {
    display: none;
    }
}
