// .logo {
//   font: inherit;
// }

.logo__desktop {
  display: none;
}

.logo__tablet {
  display: none;
}

.logo__mobile {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .logo__desktop {
    display: none;
  }

  .logo__tablet {
    display: block;
  }

  .logo__mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__desktop {
    display: block;
  }

  .logo__tablet {
    display: none;
  }

  .logo__mobile {
    display: none;
    }
}
