.offer {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 6.25%;
  padding-right: 6.25%;

  width: 87.5%;

  background-color: $main-color;
}

.offer__button {
  text-align: center;
  color: #fff;

  border: 3px solid #fff;
  border-radius: 28px;

  width: 80%;
  min-width: 280px;
  height: 55px;

  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

  &:hover {
    background-color: #fff;
    color: $second-color;
  }

  &:active {
    background-color: #fff;
    color: $second-color-30;
  }
}

.offer__platform-list {
  @include ul-style;

  width: 80%;
  min-width: 280px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offer__descr {
  text-align: center;
  font-weight: 300;
  color: #fff;

  margin-top: 24px;
  margin-bottom: 6px;
}

@media (min-width: $tablet-width) {
  .offer {
    width: 300px;
  }

  .offer__descr {
    font-size: 18px;
  }

  .offer__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {

  .offer__button {
    font-size: 21px;
    margin-bottom: 60px;
  }

  .offer__descr {
    margin-top: 50px;
  }
}
