.page-footer {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;
    position: absolute;

    width: 100%;

    background-color: #fff;
  }

  .page-footer__wrapper {
    height: 125px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {

  .page-footer__wrapper {
    width: $desktop-width;
    height: 200px;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
