// .pageform-main {
//   font: inherit;
// }

.pageform-main__banner {
  background-image: url('/img/bg-back-mobile@1x.jpg');
  background-position: center;
  min-height: 135px;

  padding: 35px;
  padding-left: 40px;
  padding-right: 40px;
}

.pageform-main__title {
  color: #fff;
}
