// .price {
//   font: inherit;
// }

.price tr {
  display: flex;
}

.price__type {
  background-color: $main-color;
  width: 276px;

  padding: 20px 0;
}

// .price__type--active {
//   font: inherit;
// }

// .price__type--base {
//   font: inherit;
// }

// .price__type--standart {
//   font: inherit;
// }

// .price__type--unlim {
//   font: inherit;
// }

.price__title {
  line-height: 30px;
  text-align: center;
  color: #fff;

  margin: 0;
}

.price__value {
  text-align: center;
  color: #fff;
}

.price__ability-name {
  margin: 0;
}

.price__include {
  background-color: #fff;
  padding: 25px;

  width: 226px;
  display: flex;
  justify-content: space-between;
}

.price__include-img {
  font: inherit;
}

.price__toggles {
  padding: 40px 0;
}
