.promo {
  background-image: url('../img/bg-back-tablet.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__wrapper {
  min-height: 740px;

  position: relative;
}

.promo__img-phone {
  position: absolute;
  bottom: 250px;
  left: calc(50% - 160px);

  width: 320px;
  height: 314px;

  background-image: url('/img/iphone-hand-mobile1x.png');
  background-repeat: no-repeat;
  background-position: center;
}

.promo__offer {
  position: absolute;
  bottom: 0;
}

.promo__offer-title {
  display: none;
}



@media (min-width: $tablet-width) {
  .promo__wrapper {
    min-height: 684px;
  }

  .promo__img-phone {
    background-image: url('/img/iphone-hand.png');

    bottom: 0;
    left: calc(50% - 330px);

    width: 640px;
    height: 545px;
  }

  .promo__offer {
    position: absolute;
    bottom: 100px;
    right: 45%;

    background-color: transparent;
  }

  .promo__offer-title {
    display: block;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    color: #fff;
  }
}



@media (min-width: $desktop-width) {

  .promo__wrapper {
    min-height: 750px;
    width: 960px;

    margin: 0 auto;
  }

  .promo {
    background-image: url('../img/bg-back.jpg');
  }

  .promo__img-phone {
    left: 250px;
  }

  .promo__offer {
    left: 0;
  }

  .promo__offer-title {
    margin-bottom: 50px;

  }
}
