// .reviews {
//   font: inherit;
// }

.reviews__slider {
  padding-bottom: 40px;
}

// .reviews__prev {
//   font: inherit;
// }

.reviews__wrapper {
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

// .reviews__item {
// }

// .reviews__img {
//   font: inherit;
// }

.reviews__persone {
  margin-bottom: 20px;
}

.reviews__descr {
  margin: 0;

  text-align: center;
  line-height: 30px;
}

// .reviews__next {
//   font: inherit;
// }

// .reviews__toggles {
// }
