// .reviews {
//   font: inherit;
// }

.reviews__slider {
  padding-bottom: 40px;
}

.reviews__wrapper {
  padding: 0 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.reviews__img {
  display: none;
}

.reviews__persone {
  margin-bottom: 20px;
}

.reviews__descr {
  margin: 0;

  text-align: center;
  line-height: 30px;
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__persone-info {
  margin: 0;

  display: none;
}


@media (min-width: $tablet-width) {
  .reviews__slider {
    padding-bottom: 20px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__persone {
    order: 1;
  }

  .reviews__descr {
    margin-bottom: 45px;

    font-size: 18px;
    line-height: 30px;
  }

  .reviews__persone-name {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 30px;
  }

  .reviews__persone-info {
    display: block;

    text-align: center;
  }
}



@media (min-width: $desktop-width) {

  .reviews__slider {
    width: $desktop-width - 20px;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .reviews__wrapper {
    padding-top: 70px;
    margin: 0 auto;

    width: 780px;
  }

  .reviews__img {
    display: block;
    margin: 0 auto;
  }

  .reviews__descr {
    width: 685px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 45px;
  }

  .reviews__persone-name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__persone-info {
    font-size: 18px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__prev,
  .reviews__next {
    display: block;
    position: relative;
    cursor: pointer;

    padding: 0;
    border: none;
    background-color: inherit;

    width: 22px;
    height: 42px;
  }

  .reviews__prev::before,
  .reviews__prev::after {
    content: "";
    position: absolute;

    width: 25px;
    height: 2px;
    background-color: #bec2c7;

    left: 0;
  }

  .reviews__prev::before {
    top: 12px;
    transform: rotate(-45deg);
  }

  .reviews__prev::after {
    bottom: 12px;
    transform: rotate(45deg);
  }


  .reviews__next::before,
  .reviews__next::after {
    content: "";
    position: absolute;

    width: 25px;
    height: 2px;
    background-color: #bec2c7;

    left: 0;
  }

  .reviews__next::before {
    top: 12px;
    transform: rotate(45deg);
  }

  .reviews__next::after {
    bottom: 12px;
    transform: rotate(-45deg);
  }

}
