.site-list {
  @include ul-style;
}

.site-list__item {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 1px;

  background-color: $main-color;
  box-shadow: 0 1px 0 #000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:hover {
    color: $second-color;
  }

  &:active {
    color: $second-color-30;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    width: 140px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: initial;

    border: none;
    box-shadow: none;

    background-color: transparent;

    &:active {
      color: rgb(255, 255, 255, 0.3);
    }

    &--active {
      position: relative;

      &:after {
        content: "";

        position: absolute;
        bottom: 5px;
        left: calc(50% - 55px);


        width: 110px;
        height: 2px;

        background-color: #fff;;
      }
    }
  }
}
