.tariff {
  background-color: $bg-color;
}

.tariff__wrapper {
  overflow: hidden;

  padding-top: 58px;
}


@media (min-width: $tablet-width) {
  .tariff__wrapper {
    padding-bottom: 65px;
  }
}

@media (min-width: $desktop-width) {
  .tariff__wrapper {
    width: $desktop-width;
    margin: 0 auto;

    padding-bottom: 95px;
  }

  .tariff__price {
    margin-left: auto;
    margin-right: auto;
  }
}
