$main-color: rgb(40, 54, 69);
$main-color-10: rgb(40, 54, 69, 0.1);
$main-color-30: rgb(40, 54, 69, 0.3);
$second-color: rgb(210, 40, 86);
$bg-color: rgb(242, 242, 242);
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
