.all-photos {
  padding-left: 20px;
  padding-right: 20px;
}

.all-photos__wrapper {
  display: flex;
  flex-direction: column;
}

.all-photos__item {
  width: 280px;

  padding-top: 20px;
  margin: 0 auto;
}

.all-photos__img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .all-photos {
    padding-top: 30px;
  }

  .all-photos__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .all-photos__item {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .all-photos__wrapper {
    width: $desktop-width;
    margin: 0 auto;
  }

  .all-photos__item {
    margin: 0;
    margin-bottom: 30px;
  }
}
