.price {
  display: flex;
  justify-content: center;
}

.price tr {
  display: flex;
}

.price__type {
  background-color: $main-color;
  width: 276px;

  border: 1px solid $main-color;

  padding: 20px 0;
  margin-right: 1px;
  margin-left: 1px;
}

.price__include-ability {
  display: none;
}

.price__type--active {
  position: relative;
}

.price__type--active::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -2px;

  width: 74px;
  height: 74px;

  background-image: url("../img/bg-hit-tablet.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.price__type--active::after {
  content: "ХИТ";

  position: absolute;
  top: 10px;
  left: 10px;

  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;

  transform: rotate(-45deg);
}

.price__title {
  line-height: 30px;
  text-align: center;
  color: #fff;

  margin: 0;
}

.price__value {
  text-align: center;
  color: #fff;
}

.price__ability-name {
  margin: 0;
  text-transform: uppercase;
}

.price__include {
  background-color: #fff;
  border: 2px solid #e5e5e5;

  padding: 25px;

  width: 226px;
  display: flex;
  justify-content: space-between;
}

.price__include-ability {
  display: none;
}

.price__toggles {
  padding: 40px 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .price {
    display: table;
  }

  .price__type {
    width: 130px;
    padding: 10px;
  }

  .price__type--hide {
    width: 152px;
    height: auto;
  }

  .price__title {
    font-size: 16px;
  }

  .price__value {
    font-size: 18px;
    line-height: 30px;
  }

  .price__include-ability {
    display: block;
  }

  .price__ability-name {
    display: none;
  }

  .price__ability-column {
    margin: 0;
  }

  .price__include {
    justify-content: center;

    width: 130px;
    padding: 10px;
  }

  .price__toggles {
    display: none;
  }

  .price__type--active::before {
    width: 61px;
    height: 61px;
  }

  .price__type--active::after {
    top: 5px;
    left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .price__type {
    width: 194px;
    padding: 18px;

    margin-left: 2px;
  }

  .price__include {
    width: 194px;
    padding: 13px 18px;
  }

  .price__type--hide {
    width: 230px;
    height: auto;
  }

  .price__ability-column {
    font-size: 18px;
    line-height: 30px;
  }

  .price__title {
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
  }

  .price__type--active::before {
    width: 74px;
    height: 74px;

    background-image: url("../img/bg-hit.svg");
  }

  .price__type--active::after {
    top: 10px;
    left: 10px;
  }
}
